<h2>Update Recipe:</h2>

<form action="/recipes/<%= @recipe.id %>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <p>
    <p><label>Name:</label></p>
    <p><input type="text" name="name" value="<%= @recipe.name %>"></p>
    <br>
    <p><label>Ingredients:</label></p>
    <p><input type="text" name="ingredients" value="<%= @recipe.ingredients %>"></p>
    <br>
    <p><label>Instructions:</label></p>
    <p><input type="text" name="instructions" value="<%= @recipe.instructions %>" ></p>
    <br>
    <p><label>Category:</label></p>
    <select name="category_id">
    <% @categories.each do |category| %>
      <option value="<%= category.id %>"><%= category.name %></option>
    <% end %>
    </select>
    <br>
    <br>
    <br>
    <input type="submit" value="Save">
  </p>

</form>

<form method="get" action="/bakers/show_dashboard">
  <button type="submit">My Recipes</button>
</form>
